<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>siw-project</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!-- definizione filtri -->
	<filter>
		<filter-name>FiltroAmministratore</filter-name>
		<filter-class>it.uniroma3.filter.FiltroAmministratore</filter-class>
	</filter>

	<filter>
		<filter-name>FiltroPaziente</filter-name>
		<filter-class>it.uniroma3.filter.FiltroPaziente</filter-class>
	</filter>

	 <!--  mapping filtri -->
	<filter-mapping>
		<filter-name>FiltroAmministratore</filter-name>
		<url-pattern>/*/newEsame.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FiltroAmministratore</filter-name>
		<url-pattern>/*/newTipologia.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FiltroAmministratore</filter-name>
		<url-pattern>/*/mostraEsamiMedico.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FiltroAmministratore</filter-name>
		<url-pattern>/*/homeAmministratore.jsp</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>FiltroPaziente</filter-name>
		<url-pattern>/*/homePaziente.jsp</url-pattern>
	</filter-mapping>

	

	<!-- Servlet configuration -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
</web-app>     