@CHARSET "UTF-8";

#title{
	text-align: center;
	color: #3366ff;
}

#im_d{
	position: absolute; 
	right: 75%; 
	bottom: 70%; 
	width: 12%;
}

#im_s{
	position: absolute; 
	left: 75%; 
	bottom: 70%; 
	width: 12%;
}